.container {
  background-color: rgb(52, 112, 116);
  border: solid yellowgreen 2px;
  border-radius: 7px;
  &__data {
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Gemunu Libre', sans-serif;
    color: transparent;
    background-image: linear-gradient(
      to left,
      #ffd700,
      #7b68ee,
      #3498db,
      #2ecc71,
      #ffd700
    );
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;
  }
}

.containerCharacter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 60px;

  &__all {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 650px;
    background-color: yellowgreen;
    border: solid rgb(138, 214, 218) 6px;
    border-radius: 7px;
  }
  &__btn {
    width: 130px;
    height: 40px;
    margin: 10px;
    margin-top: 25px;
    margin-left: 85px;
    background-color: rgb(138, 214, 218);
    border-radius: 10px;
    border: solid yellowgreen 1px;
    box-shadow: 1.5px 1.5px 2px rgb(52, 112, 116);

    &_p {
      background-color: rgb(138, 214, 218);
      color: rgb(51, 111, 114);
      font-family: 'Gemunu Libre', sans-serif;
      font-size: 18px;
    }
  }

  &__p {
    background-color: yellowgreen;
    color: rgb(255, 255, 255);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 40px;
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 43px;
    width: 200px;
    height: 200px;
    border-radius: 17px;
    border: solid rgb(138, 214, 218) 8px;
    background-color: yellowgreen;
  }
}
