.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: rgb(52, 112, 116);
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 18px;
  border: solid yellowgreen 2px;
  border-radius: 7px;
}
