.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 280px;
    max-height: 180px;

    @media all and (min-width: 768px) {
      padding-bottom: 50px;
      max-width: 550px;
      max-height: 450;
    }
  }
}
