.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gemunu Libre', sans-serif;
  padding-bottom: 80px;
  padding-left: 15px;

  &__inputlabel {
    color: rgb(138, 214, 218);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    padding-right: 15px;
    @media all and (min-width: 768px) {
      font-size: 50px;
    }
  }
  &__inputform {
    background-color: rgb(138, 214, 218);
    padding: 5px;
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    width: 150px;
    color: white;
    font-size: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    border-radius: 5px;
    border: solid yellowgreen 5px;
    box-shadow: 1.5px 1.5px 6px #bdff80;
    @media all and (min-width: 768px) {
      height: 40px;
      width: 400px;
      font-size: 35px;
    }
  }
}

.h2 {
  text-align: center;
  font-size: 60px;
  font-family: 'Gemunu Libre', sans-serif;
  color: transparent;
  background-image: linear-gradient(
    to left,
    #ffd700,
    #7b68ee,
    #3498db,
    #2ecc71,
    #ffd700
  );
  background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%;
  @keyframes color {
    from {
      background-position: 0% 50%;
    }

    to {
      background-position: 100% 50%;
    }
  }
}

.paintedSection {
  margin-left: 40px;
  margin-bottom: 50px;

  .ul__list {
    padding-right: 40px;

    &__containerCharacter {
      margin-top: 25px;
      border: solid 15px rgb(138, 214, 218);
      border-radius: 8px;
      box-shadow: 2.5px 3.5px 3px rgb(200, 248, 251);
      height: 320px;
      width: 175px;
      background-color: rgb(138, 214, 218);
      @media all and (min-width: 768px) {
        height: 500px;
        width: 300px;
      }
      &__p {
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 16px;
        color: white;
        background-color: rgb(138, 214, 218);
        padding-top: 8px;
        @media all and (min-width: 768px) {
          font-size: 22px;
          padding-top: 18px;
        }
      }
      &__location {
        font-family: 'Gemunu Libre', sans-serif;
        font-size: 16px;
        color: rgb(28, 113, 121);
        background-color: rgb(138, 214, 218);
        padding-top: 8px;
        @media all and (min-width: 768px) {
          font-size: 22px;
          padding-top: 18px;
        }
      }
      &__img {
        height: 165px;
        width: 165px;
        border: solid 7px yellowgreen;
        border-radius: 8px;
        @media all and (min-width: 768px) {
          height: 285px;
          width: 285px;
        }
      }
    }
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100%;

  &__container {
    width: 150px;
    height: 100px;
    background-color: yellowgreen;
    border-radius: 7px;
    border: solid rgb(138, 214, 218) 5px;

    @media all and (min-width: 768px) {
      height: 400px;
      width: 600px;
    }
  }

  &__p {
    padding: 10px;
    color: #bdff80;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;

    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__img {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    @media all and (min-width: 768px) {
      height: 400px;
      width: 600px;
    }
  }
}

.noexist {
  color: #bdff80;
  padding: 10px;
  margin-bottom: 380px;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 20px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: rgb(28, 113, 121);
  border: solid #bdff80 5px;
  border-radius: 7px;
}

.optionSpecie {
  height: 38px;
  width: 160px;
  margin-top: 20px;
  margin-right: 18px;
  color: white;
  font-size: 20px;
  font-family: 'Gemunu Libre', sans-serif;
  border-radius: 5px;
  border: solid yellowgreen 5px;
  box-shadow: 1.5px 1.5px 6px #bdff80;
  background-color: rgb(138, 214, 218);
  @media all and (min-width: 768px) {
    height: 48px;
    width: 410px;
    font-size: 35px;
  }
}
